[alias]
	alias = !git config -l | grep alias
	undo = reset --soft HEAD^
	s = status -s
	co = checkout
	publish = push -u origin HEAD
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
	b = !git for-each-ref --sort='-authordate' --format='%(authordate)%09%(objectname:short)%09%(refname)' refs/heads | sed -e 's-refs/heads/--'
	bhistory = log --graph --abbrev-commit --decorate  --first-parent --oneline
	gone = !git branch -vv | grep 'origin/.*: gone]' | awk '{print $1}'
	gone-delete = !git branch -vv | grep 'origin/.*: gone]' | awk '{print $1}' | xargs git branch -D
	start-over = "!git reset --hard origin/$(git symbolic-ref --short HEAD); git clean -fd"
	please = push --force-with-lease
	uncommit = reset --soft HEAD~1
[color]
	ui = true
[core]
	# set both "editor" and "autocrlf"
	# in ~/.gitconfig.local since it differs
	# from OS to OS
	pager = delta
[interactive]
        diffFilter = delta --color-only
[delta]
	true-color = always
	navigate = true    # use n and N to move between diff sections
	light = false      # set to true if you're in a terminal w/ a light background color (e.g. the default macOS terminal)
	side-by-side = true
	line-numbers = true
	diff-so-fancy = true
	hyperlinks = true
	hyperlinks-file-link-format = "vscode://file/{path}:{line}"
[diff]
	colorMoved = default
	#tool = vscode
	guitool = vscode
[difftool "vscode"]
	cmd = \"code\" --new-window --wait --diff \"$LOCAL\" \"$REMOTE\"
	path = code
[merge]
	tool = vscode
	conflictstyle = diff3
	guitool = vscode
[mergetool "vscode"]
	cmd = \"code\" --new-window --wait --merge \"$REMOTE\" \"$LOCAL\" \"$BASE\" \"$MERGED\"
	path = code
[fetch]
	prune = true
[format]
	pretty = format:%C(4)%h %C(yellow)%>(12)%ad %Cgreen%<(7)%aN %x09 %Creset%s
[log]
	date = relative
[pull]
	rebase = true
[push]
	followTags = true
[rebase]
	autoStash = false
	autosquash = false
	updateRefs = false
[init]
	defaultBranch = main
#[credential "https://dev.azure.com"]
#	usehttppath = true
[include]
        path = ~/.gitconfig.local

#[credential "https://github.com"]
#	helper = 
#	helper = !/usr/bin/gh auth git-credential
#[credential "https://gist.github.com"]
#	helper = 
#	helper = !/usr/bin/gh auth git-credential
