[alias]
	cb = !git branch --all | grep -v '^[*+]' | awk '{print $1}' | fzf -0 --preview 'git show --color=always {-1}' | sed 's/remotes\\/origin\\///g' | xargs -r git checkout
	alias = !git config -l | grep alias
	up = fetch --all --prune
	undo = reset --soft HEAD^
	s = status
	co = checkout
	lg = log --graph --decorate --pretty=format:'%C(yellow)%h%C(reset) -%C(red)%d%C(reset) %s %C(green)(%cr) %C(bold blue)<%an>%C(reset)'
	b = !git for-each-ref --sort='-authordate' --format='%(authordate)%09%(objectname:short)%09%(refname)' refs/heads | sed -e 's-refs/heads/--'
	bhistory = log --graph --oneline --decorate --abbrev-commit --first-parent --pretty=format:'%C(yellow)%h%C(reset) -%C(red)%d%C(reset) %s %C(green)(%cr) %C(bold blue)<%an>%C(reset)'
	overview = log --graph --oneline --decorate --all
	gone = !git branch -vv | grep 'origin/.*: gone]' | awk '{print $1}'
	gone-delete = !git branch -vv | grep 'origin/.*: gone]' | awk '{print $1}' | xargs git branch -D
	start-over = "!git reset --hard origin/$(git symbolic-ref --short HEAD); git clean -fd"
	please = push --force-with-lease
	uncommit = reset --soft HEAD~1
	crap = ls-files -c -i --exclude-standard
	fixup = !git log -n 50 --pretty=format:\"%h %s\" --no-merges | fzf | cut -c -7 | xargs -o git commit --fixup
	last = log -1 HEAD --stat
[diff]
	colorMoved = default
	guitool = vscode
[difftool "vscode"]
	cmd = \"C:/Users/ivara/AppData/Local/Programs/Microsoft VS Code/Code.exe\" --new-window --wait --diff \"$LOCAL\" \"$REMOTE\"
	path = C:/Users/ivara/AppData/Local/Programs/Microsoft VS Code/Code.exe
[merge]
	tool = vscode
	conflictstyle = diff3
	guitool = vscode
[mergetool "vscode"]
	cmd = \"C:/Users/ivara/AppData/Local/Programs/Microsoft VS Code/Code.exe\" --new-window --wait --merge \"$REMOTE\" \"$LOCAL\" \"$BASE\" \"$MERGED\"
	path = C:/Users/ivara/AppData/Local/Programs/Microsoft VS Code/Code.exe
[fetch]
	prune = true
[pull]
	rebase = true
[rebase]
	autoStash = false
	autosquash = true
	updateRefs = true
[init]
	defaultBranch = main
[include]
	path = ~/.gitconfig.local
[rerere]
	enabled = true
[maintenance]
	repo = D:/git/lernia/Lernia.Se.Mono
	repo = D:/git/microsoft-authentication-library-for-js
[mergetool "winmerge"]
	path = C:/Program Files (x86)/WinMerge/winmergeu.exe
	cmd = \"C:/Program Files (x86)/WinMerge/winmergeu.exe\" -e -u  -wl -wr -fm -dl \"Mine: $LOCAL\" -dm \"Merged: $BASE\" -dr \"Theirs: $REMOTE\" \"$LOCAL\" \"$BASE\" \"$REMOTE\" -o \"$MERGED\"
