# yaml-language-server: $schema=https://raw.githubusercontent.com/jesseduffield/lazygit/master/schema/config.json
#
# https://github.com/jesseduffield/lazygit/blob/master/docs/Config.md
#
gui:
  showRandomTip: true
  nerdFontsVersion: "3"
  # showDivergenceFromBaseBranch: arrowAndNumber
  showNumstatInFilesView: true
  # commitAuthorShortLength: 4
  showBranchCommitHash: true
  shortTimeFormat: 15:04
  # timeFormat: 02/01-06 # 2006-01-02
  timeFormat: 02 Jan 2006 # 2006-01-02
  # expandFocusedSidePanel: true

  # Kanagawa
  theme:
    activeBorderColor:
      - "#DCA561" # autumn yellow
      - bold
    inactiveBorderColor:
      - "#54546D" # sumiInk4
    optionsTextColor:
      - "#7E9CD8" # crystalBlue
    selectedLineBgColor:
      - "#2D4F67" # waveBlue2
    cherryPickedCommitBgColor:
      - "#363646" # sumiInk3
    cherryPickedCommitFgColor:
      - "#957FB8" # oniViolet
    unstagedChangesColor:
      - "#C34043" # autumnRed
    defaultFgColor:
      - "#DCD7BA" # fujiWhite
    searchingActiveBorderColor:
      - "#E6C384" # carpYellow

  # Tokyonight moon
  # theme:
  #   activeBorderColor:
  #     - "#ff966c"
  #     - "bold"
  #   inactiveBorderColor:
  #     - "#589ed7"
  #   searchingActiveBorderColor:
  #     - "#ff966c"
  #     - "bold"
  #   optionsTextColor:
  #     - "#82aaff"
  #   selectedLineBgColor:
  #     - "#2d3f76"
  #   cherryPickedCommitFgColor:
  #     - "#82aaff"
  #   cherryPickedCommitBgColor:
  #     - "#c099ff"
  #   markedBaseCommitFgColor:
  #     - "#82aaff"
  #   markedBaseCommitBgColor:
  #     - "#ffc777"
  #   unstagedChangesColor:
  #     - "#c53b53"
  #   defaultFgColor:
  #     - "#c8d3f5"
  # Terminal/Neovim inherited colors
  # theme:
  #   activeBorderColor:
  #     - green
  #     - bold
  #   inactiveBorderColor:
  #     - default
  #   optionsTextColor:
  #     - blue
  #   selectedLineBgColor:
  #     - reverse
  #   cherryPickedCommitBgColor:
  #     - cyan
  #   cherryPickedCommitFgColor:
  #     - blue
  #   unstagedChangesColor:
  #     - red
  #   defaultFgColor:
  #     - default
  #   searchingActiveBorderColor:
  #     - yellow
  # authorColors:
  #   "*": magenta
  #
  # Catppuccin Mocha
  # theme:
  #   activeBorderColor:
  #     - "#fab387"
  #     - bold
  #   inactiveBorderColor:
  #     - "#a6adc8"
  #   optionsTextColor:
  #     - "#89b4fa"
  #   selectedLineBgColor:
  #     - "#313244"
  #   cherryPickedCommitBgColor:
  #     - "#45475a"
  #   cherryPickedCommitFgColor:
  #     - "#fab387"
  #   unstagedChangesColor:
  #     - "#f38ba8"
  #   defaultFgColor:
  #     - "#cdd6f4"
  #   searchingActiveBorderColor:
  #     - "#f9e2af"
  # authorColors:
  #   "*": "#b4befe"
  # mocha/flamingo
  # gui:
  #   theme:
  #     activeBorderColor:
  #       - '#f2cdcd'
  #       - bold
  #     inactiveBorderColor:
  #       - '#a6adc8'
  #     optionsTextColor:
  #       - '#89b4fa'
  #     selectedLineBgColor:
  #       - '#313244'
  #     cherryPickedCommitBgColor:
  #       - '#45475a'
  #     cherryPickedCommitFgColor:
  #       - '#f2cdcd'
  #     unstagedChangesColor:
  #       - '#f38ba8'
  #     defaultFgColor:
  #       - '#cdd6f4'
  #     searchingActiveBorderColor:
  #       - '#f9e2af'
  #
  #   authorColors:
  #     '*': '#b4befe'
  statusPanelView: allBranchesLog
git:
  autoForwardBranches: none
  pagers:
    - pager: delta --dark --paging=never
  branchLogCmd: git log --graph --color=always --abbrev-commit --decorate --date=relative --pretty=medium {{branchName}} --
  allBranchesLogCmds:
    - git log --graph --all --color=always --abbrev-commit --decorate --date=relative  --pretty=medium --oneline
  log:
    showWholeGraph: true
os:
  edit: "NVIM_APPNAME=nvim-2026 nvim {{filename}}"
  editAtLine: "NVIM_APPNAME=nvim-2026 nvim +{{line}} {{filename}}"
